google-auth==2.20.0
google-auth-oauthlib==1.0.0
google-auth-httplib2==0.1.0
google-api-python-client==2.96.0
pandas==1.5.3
pyperclip==1.8.2
streamlit==1.25.0
streamlit-option-menu
gdown==4.7.1
openpyxl==3.0.10
PyGithub==1.55
requests
Pillow
