streamlit==1.35.0
pyperclip
streamlit-option-menu
requests
PyGithub
gdown
google-api-python-client 
google-auth-httplib2 
google-auth-oauthlib
service_account
build
io
Credentials
build
InstalledAppFlow
